{% extends "base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="frame col-12 mb-4">
    <div class="center">
              <p class="box">Making Your Finding Job Process Easier</p>
    </div>
</div>

<div class="card border-light shadow-sm">
    <div class="card-body">
        <div class="mb-3 mb-lg-0">
            <h3 class="mb-1"> Why to look for top skills?</h3>
            <p class="mb-0">Finding a job is rather difficult, it includes applying to several job offerings which become highly demanding, and most of the time it's worthless as lack of clarity makes you apply to jobs that are not a fit for your skills, profile, or experience. On the other hand, countries like Colombia(see picture below) have underpaid jobs for your set of skills, profile, or experience. Making it easier to get an offer, but reducing your ability to have a rewarding experience during your journey at that company. Therefore, I asked myself what if I can use my Data Engineering/Scientists Skills to increase the number of successful applications I sent to get a job offer.  </p>
        </div>
    </div>
</div>   
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}